In [6]:
import entsoe as ent
import pandas as pd
#from epftoolbox.data import read_data
import numpy as np
from datetime import *

In [3]:
client = ent.EntsoePandasClient(api_key='4e524938-86d0-4232-81a9-4c2aaf8cdceb')

country_code='BE'
timezone = 'Europe/Brussels'
start_date = pd.to_datetime('2018-12-31')
end_date = pd.to_datetime(date.today()+timedelta(days=4))

In [4]:
df_price = client.query_day_ahead_prices(country_code=country_code, start=start_date.tz_localize(timezone),end=end_date.tz_localize(timezone))
#df_price = pd.DataFrame(df_price, columns=['Price'])

In [5]:
df_price

2018-12-31 00:00:00+01:00     50.94
2018-12-31 01:00:00+01:00     49.57
2018-12-31 02:00:00+01:00     48.32
2018-12-31 03:00:00+01:00     45.89
2018-12-31 04:00:00+01:00     45.47
                              ...
2023-01-05 19:00:00+01:00    177.98
2023-01-05 20:00:00+01:00    163.99
2023-01-05 21:00:00+01:00    152.00
2023-01-05 22:00:00+01:00    144.64
2023-01-05 23:00:00+01:00    127.00
Length: 35208, dtype: float64

In [6]:
df_load = client.query_load_forecast(country_code=country_code, start=start_date.tz_localize(timezone),end=end_date.tz_localize(timezone))
#df_load=pd.DataFrame(df_load, columns=['Exogenous 2'])

In [7]:
df_generation = client.query_generation_forecast(country_code=country_code, start=start_date.tz_localize(timezone),end=end_date.tz_localize(timezone))
#df_generation=pd.DataFrame(df_generation, columns=['Exogenous 1'])

In [8]:
df_price=pd.DataFrame(df_price, columns=['Price'])

In [9]:
df_all = pd.merge_asof(df_price, pd.merge_asof(df_load, df_generation, left_index=True, right_index=True), left_index=True, right_index=True)

In [10]:
df_all.columns = ['Price', 'Exogenous 2', 'Exogenous 1']
#df_all.index = df_all.index.tz_localize(None)

In [11]:
df_all

                            Price  Exogenous 2  Exogenous 1
2018-12-31 00:00:00+01:00   50.94       8675.0       5544.0
2018-12-31 01:00:00+01:00   49.57       8560.0       4866.0
2018-12-31 02:00:00+01:00   48.32       8204.0       4153.0
2018-12-31 03:00:00+01:00   45.89       7965.0       4667.0
2018-12-31 04:00:00+01:00   45.47       7911.0       4737.0
...                           ...          ...          ...
2023-01-05 19:00:00+01:00  177.98      10551.0      11945.0
2023-01-05 20:00:00+01:00  163.99       9994.0      10940.0
2023-01-05 21:00:00+01:00  152.00       9514.0       9758.0
2023-01-05 22:00:00+01:00  144.64       9393.0       9504.0
2023-01-05 23:00:00+01:00  127.00       9559.0       9421.0

[35208 rows x 3 columns]

In [59]:
df_all.to_csv('/Users/dorianfitton/Documents/Cours_Télécom/fil_rouge/fil_rouge/notebook_projet/dorian/datasets/df_all.csv')

In [60]:
df_all.to_pickle('/Users/dorianfitton/Documents/Cours_Télécom/fil_rouge/fil_rouge/notebook_projet/dorian/datasets/df_all')

In [1]:
from epftoolbox.data._datasets import read_data_refreshed

In [2]:
from epftoolbox.data._datasets import read_data_refreshed
df_train, df_test = read_data_refreshed(begin_test_date='2021-12-31', end_test_date='2022-01-31')

Test datasets: 2021-12-31 00:00:00 - 2022-01-31 23:00:00

/Users/dorianfitton/Documents/Cours_Télécom/fil_rouge/fil_rouge/epftoolbox/data/_datasets.py:206: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version. Use a timezone-aware object instead.
  df_train = df_all.loc[:begin_test_date - pd.Timedelta(hours=1), :]
/Users/dorianfitton/Documents/Cours_Télécom/fil_rouge/fil_rouge/epftoolbox/data/_datasets.py:207: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version. Use a timezone-aware object instead.
  df_test = df_all.loc[begin_test_date:end_test_date, :]

In [3]:
df_train

                           Price  Exogenous 2  Exogenous 1
2018-12-31 00:00:00+01:00  50.94       8675.0       5544.0
2018-12-31 01:00:00+01:00  49.57       8560.0       4866.0
2018-12-31 02:00:00+01:00  48.32       8204.0       4153.0
2018-12-31 03:00:00+01:00  45.89       7965.0       4667.0
2018-12-31 04:00:00+01:00  45.47       7911.0       4737.0
...                          ...          ...          ...
2021-12-30 19:00:00+01:00  50.57      10408.0      11382.0
2021-12-30 20:00:00+01:00  94.18       9854.0      11280.0
2021-12-30 21:00:00+01:00  46.26       9418.0       9849.0
2021-12-30 22:00:00+01:00  10.83       9349.0       9270.0
2021-12-30 23:00:00+01:00   0.82       9611.0       9510.0

[26304 rows x 3 columns]

In [4]:
df_test

                            Price  Exogenous 2  Exogenous 1
2021-12-31 00:00:00+01:00   13.04       9339.0       9290.0
2021-12-31 01:00:00+01:00  -35.50       8702.0       8670.0
2021-12-31 02:00:00+01:00  -40.16       8294.0       8807.0
2021-12-31 03:00:00+01:00  -28.00       8065.0       8050.0
2021-12-31 04:00:00+01:00  -28.00       7987.0       8203.0
...                           ...          ...          ...
2022-01-31 19:00:00+01:00  259.34      12518.0      13887.0
2022-01-31 20:00:00+01:00  220.00      11854.0      12979.0
2022-01-31 21:00:00+01:00  228.31      11153.0      12538.0
2022-01-31 22:00:00+01:00  228.97      10816.0      12526.0
2022-01-31 23:00:00+01:00  225.40      10984.0      11917.0

[768 rows x 3 columns]

In [1]:
from epftoolbox.data import read_data_refreshed

In [2]:
df_train, df_test = read_data_refreshed(begin_test_date='2021-12-31', end_test_date='2022-01-31')

Test datasets: 2021-12-31 00:00:00 - 2022-01-31 23:00:00

/Users/dorianfitton/Documents/Cours_Télécom/fil_rouge/fil_rouge/epftoolbox/data/_datasets.py:206: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version. Use a timezone-aware object instead.
  df_train = df_all.loc[:begin_test_date - pd.Timedelta(hours=1), :]
/Users/dorianfitton/Documents/Cours_Télécom/fil_rouge/fil_rouge/epftoolbox/data/_datasets.py:207: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version. Use a timezone-aware object instead.
  df_test = df_all.loc[begin_test_date:end_test_date, :]

In [3]:
df_train

                           Price  Exogenous 2  Exogenous 1
2018-12-31 00:00:00+01:00  50.94       8675.0       5544.0
2018-12-31 01:00:00+01:00  49.57       8560.0       4866.0
2018-12-31 02:00:00+01:00  48.32       8204.0       4153.0
2018-12-31 03:00:00+01:00  45.89       7965.0       4667.0
2018-12-31 04:00:00+01:00  45.47       7911.0       4737.0
...                          ...          ...          ...
2021-12-30 19:00:00+01:00  50.57      10408.0      11382.0
2021-12-30 20:00:00+01:00  94.18       9854.0      11280.0
2021-12-30 21:00:00+01:00  46.26       9418.0       9849.0
2021-12-30 22:00:00+01:00  10.83       9349.0       9270.0
2021-12-30 23:00:00+01:00   0.82       9611.0       9510.0

[26304 rows x 3 columns]

In [7]:
import pandas as pd
pd.to_datetime(df_train.index[0])

Timestamp('2018-12-31 00:00:00+0100', tz='Europe/Brussels')

In [17]:
df_train.index.apply(lambda x: x.strftime('%Y-%m-%d %H:%M:%S'))

AttributeError: 'DatetimeIndex' object has no attribute 'apply'

In [30]:
df_train.index = df_train.index.strftime('%Y-%m-%d %H:%M:%S')
#df_test.index = df_test.index.strftime('%Y-%m-%d %H:%M:%S')

AttributeError: 'Index' object has no attribute 'strftime'

In [20]:
df_test.index = df_test.index.strftime('%Y-%m-%d %H:%M:%S')

In [7]:
df_train=pd.read_pickle('/Users/dorianfitton/Documents/Cours_Télécom/fil_rouge/fil_rouge/notebook_projet/dorian/datasets/2021-12-31_test/2021-12-31_df_train')

In [11]:
df_train.index

Index(['2018-12-31 00:00:00', '2018-12-31 01:00:00', '2018-12-31 02:00:00',
       '2018-12-31 03:00:00', '2018-12-31 04:00:00', '2018-12-31 05:00:00',
       '2018-12-31 06:00:00', '2018-12-31 07:00:00', '2018-12-31 08:00:00',
       '2018-12-31 09:00:00',
       ...
       '2021-12-30 14:00:00', '2021-12-30 15:00:00', '2021-12-30 16:00:00',
       '2021-12-30 17:00:00', '2021-12-30 18:00:00', '2021-12-30 19:00:00',
       '2021-12-30 20:00:00', '2021-12-30 21:00:00', '2021-12-30 22:00:00',
       '2021-12-30 23:00:00'],
      dtype='object', length=26313)

In [10]:
tstmp= ['2019-03-31 02:00:00','2020-03-29 02:00:00','2021-03-28 02:00:00']
for ts in tstmp:
    ts = pd.to_datetime(ts)
    av = ts-timedelta(hours=1)
    ap = ts+timedelta(hours=1)
    price = (df_train['Price'].loc[str(av)]+df_train['Price'].loc[str(ap)])/2
    exogenous_2 = (df_train['Exogenous 2'].loc[str(av)]+ df_train['Exogenous 2'].loc[str(ap)])/2
    exogenous_1 = (df_train['Exogenous 1'].loc[str(av)]+ df_train['Exogenous 1'].loc[str(ap)])/2
    new_row = pd.DataFrame([[price, exogenous_2, exogenous_1]], columns = ["Price", "Exogenous 2", "Exogenous 1"], index=[ts])
    new_row.index = new_row.index.astype(str)
    dfs=[df_train, new_row]
    df_groups = {}

    df_train=pd.concat(dfs)

df_train=df_train.sort_index()

In [12]:
df_train.to_pickle('/Users/dorianfitton/Documents/Cours_Télécom/fil_rouge/fil_rouge/notebook_projet/dorian/datasets/2021-12-31_test/2021-12-31_df_train')
#df_test.to_pickle('/Users/dorianfitton/Documents/Cours_Télécom/fil_rouge/fil_rouge/notebook_projet/dorian/datasets/2021-12-31_test/2021-12-31_df_test')