In [1]:
import pandas as pd
import numpy as np
import os, sys
import glob

In [2]:
os.remove('./generation_forecast/.DS_Store')

FileNotFoundError: [Errno 2] No such file or directory: './generation_forecast/.DS_Store'

In [113]:
import glob

solaire_files = glob.glob('./generation_forecast/*Solaire*.csv')
eolien_files = glob.glob('./generation_forecast/*Eolien*.csv')
print(solaire_files)

['./generation_forecast/PrevisionSolaire_2020.xls.csv', './generation_forecast/PrevisionSolaire_2021.xls.csv', './generation_forecast/PrevisionSolaire_2017.xls.csv', './generation_forecast/PrevisionSolaire_2023.xls.csv', './generation_forecast/PrevisionSolaire_2019.xls.csv', './generation_forecast/PrevisionSolaire_2018.xls.csv', './generation_forecast/PrevisionSolaire_2022.xls.csv']

In [127]:
files = [solaire_files, eolien_files]
df_list = []
for i, file in enumerate(solaire_files):

    df = pd.read_csv(file, encoding='latin1', sep='\t')
    df_list.append(df)

In [129]:
solaire_files

['./generation_forecast/PrevisionSolaire_2020.xls.csv',
 './generation_forecast/PrevisionSolaire_2021.xls.csv',
 './generation_forecast/PrevisionSolaire_2017.xls.csv',
 './generation_forecast/PrevisionSolaire_2023.xls.csv',
 './generation_forecast/PrevisionSolaire_2019.xls.csv',
 './generation_forecast/PrevisionSolaire_2018.xls.csv',
 './generation_forecast/PrevisionSolaire_2022.xls.csv']

In [159]:

df_solaire = pd.concat(df_list)

#df_solaire = df_solaire.reset_index(inplace=False).drop('index', axis=1)

mask = df_solaire['Heure'].isna()
df_solaire=df_solaire.loc[~mask]

df_solaire['Heure'] = df_solaire['Heure'].apply(lambda x: "0" + x if len(x) == 4 else x)

df_solaire['Date_Heure_France'] = df_solaire['Date'] + ' ' + df_solaire['Heure']

df_solaire['Date_Heure_France'] = pd.to_datetime(df_solaire['Date_Heure_France'], format = "%d/%m/%Y %H:%M")

df_solaire = df_solaire.reset_index(drop=True)
df_solaire = df_solaire.sort_values(by='Date_Heure_France', axis = 0, ascending=True)

df_solaire = df_solaire[['Date_Heure_France', 'Prévision J-1']]
df_solaire.columns =['Date_Heure_France', 'Prévision J-1 Solaire'] 


date_debut = df_solaire['Date_Heure_France'].iloc[0]#.tz_localize('Europe/Paris').tz_convert('UTC').tz_localize(None)
date_fin = df_solaire['Date_Heure_France'].iloc[-1]#.tz_localize('Europe/Paris').tz_convert('UTC').tz_localize(None)
date_range = pd.date_range(date_debut, date_fin , freq='1H')
df_solaire = df_solaire.set_index('Date_Heure_France')
here = date_range.isin(df_solaire.index)
holes= date_range[~here]

for i, idx in enumerate(holes):

    df_solaire.loc[idx, 'Prévision J-1 Solaire'] = 0

df_solaire.loc[df_solaire.index.year == 2023]
date_debut = df_solaire.index[0].tz_localize('Europe/Paris').tz_convert('UTC').tz_localize(None)
date_range = pd.date_range(date_debut, periods = len(df_solaire), freq='1H')
df_solaire.index = date_range

df_solaire.index = df_solaire.index.rename('Date UTC')

df_solaire['Prévision J-1 Solaire'].str.startswith('-') == True

df_solaire.loc[df_solaire['Prévision J-1 Solaire'].str.startswith('-') == True] = 0
df_solaire['Prévision J-1 Solaire'] = df_solaire['Prévision J-1 Solaire'].astype(float)

df_solaire.sample(24)

                     Prévision J-1 Solaire
Date UTC
2017-10-23 16:00:00                1403.76
2017-10-31 11:00:00                2499.91
2017-03-07 15:00:00                1624.60
2019-10-08 19:00:00                   0.00
2021-11-03 19:00:00                   0.00
2021-07-28 08:00:00                 991.67
2023-01-26 04:00:00                   0.00
2018-06-24 04:00:00                   0.00
2018-06-20 14:00:00                   0.00
2021-02-11 04:00:00                   0.00
2018-01-09 21:00:00                   0.00
2021-01-29 17:00:00                   0.00
2022-12-06 08:00:00                 147.58
2020-11-08 01:00:00                   0.00
2019-12-30 18:00:00                   0.00
2021-09-03 05:00:00                   0.00
2020-05-02 12:00:00                6478.68
2017-03-30 02:00:00                   0.00
2020-05-06 22:00:00                   0.00
2019-03-24 05:00:00                   0.00
2018-06-15 13:00:00                4012.02
2022-03-12 18:00:00                   0.62
2018-11-29 01:00:00                   0.00
2022-07-14 06:00:00                 346.69

In [158]:

df_eolien = pd.concat(df_list)

#df_eolien = df_eolien.reset_index(inplace=False).drop('index', axis=1)

mask = df_eolien['Heure'].isna()
df_eolien=df_eolien.loc[~mask]

df_eolien['Heure'] = df_eolien['Heure'].apply(lambda x: "0" + x if len(x) == 4 else x)

df_eolien['Date_Heure_France'] = df_eolien['Date'] + ' ' + df_eolien['Heure']

df_eolien['Date_Heure_France'] = pd.to_datetime(df_eolien['Date_Heure_France'], format = "%d/%m/%Y %H:%M")

df_eolien = df_eolien.reset_index(drop=True)
df_eolien = df_eolien.sort_values(by='Date_Heure_France', axis = 0, ascending=True)


df_eolien = df_eolien[['Date_Heure_France', 'Prévision J-1']]
df_eolien.columns = ['Date_Heure_France', 'Prévision J-1 Eolien']

date_debut = df_eolien['Date_Heure_France'].iloc[0]#.tz_localize('Europe/Paris').tz_convert('UTC').tz_localize(None)
date_fin = df_eolien['Date_Heure_France'].iloc[-1]#.tz_localize('Europe/Paris').tz_convert('UTC').tz_localize(None)
date_range = pd.date_range(date_debut, date_fin , freq='1H')
df_eolien = df_eolien.set_index('Date_Heure_France')
here = date_range.isin(df_eolien.index)
holes= date_range[~here]

for i, idx in enumerate(holes):

    df_eolien.loc[idx, 'Prévision J-1 Eolien'] = 0

df_eolien.loc[df_eolien.index.year == 2023]
date_debut = df_eolien.index[0].tz_localize('Europe/Paris').tz_convert('UTC').tz_localize(None)
date_range = pd.date_range(date_debut, periods = len(df_eolien), freq='1H')
df_eolien.index = date_range

df_eolien.index = df_eolien.index.rename('Date UTC')

df_eolien['Prévision J-1 Eolien'].str.startswith('-') == True

df_eolien.loc[df_eolien['Prévision J-1 Eolien'].str.startswith('-') == True] = 0
df_eolien['Prévision J-1 Eolien'] = df_eolien['Prévision J-1 Eolien'].astype(float)

df_eolien.sample(24)

                     Prévision J-1 Eolien
Date UTC
2022-06-13 12:00:00               6288.97
2021-05-14 19:00:00               2087.62
2019-11-29 00:00:00                  0.00
2019-10-03 11:00:00               3926.06
2017-10-12 03:00:00                  0.00
2022-09-08 14:00:00               9406.82
2020-02-08 06:00:00                  0.00
2017-09-25 09:00:00               1341.64
2017-09-25 19:00:00                  0.05
2018-05-22 20:00:00                 73.91
2019-12-29 16:00:00                 36.86
2022-02-23 18:00:00                  0.00
2023-03-26 05:00:00                  0.00
2018-07-21 14:00:00               4720.96
2020-11-12 11:00:00               4103.33
2022-12-09 20:00:00                  0.00
2018-05-07 19:00:00                500.23
2022-09-02 18:00:00               1381.55
2021-05-31 15:00:00               6577.78
2021-11-23 09:00:00               1396.89
2021-02-10 07:00:00                121.55
2019-09-28 12:00:00               4032.84
2022-04-27 22:00:00                  0.00
2022-05-26 20:00:00                216.91

In [164]:
df_renew = df_solaire.join(df_eolien)
df_renew.to_csv('/home/infres/dfitton-21/pfr/fil_rouge/examples/datasets/RENEW_FORECAST_FR.csv')

In [194]:
init_data = pd.read_csv("../../../examples/datasets/EPEX_FR_NEW_UTC.csv",
                        index_col='Date')
init_data

                     Load forecast  Generation forecast  Price
Date
2017-01-01 00:00:00        73650.0              69539.0  58.23
2017-01-01 01:00:00        72350.0              67376.0  51.95
2017-01-01 02:00:00        68750.0              65412.0  47.27
2017-01-01 03:00:00        65900.0              64557.0  45.49
2017-01-01 04:00:00        65000.0              64552.0  44.50
...                            ...                  ...    ...
2022-12-31 19:00:00        46950.0              44648.0   7.60
2022-12-31 20:00:00        44350.0              43841.0   3.69
2022-12-31 21:00:00        43950.0              44578.0   1.88
2022-12-31 22:00:00        47250.0              45135.0   0.10
2022-12-31 23:00:00        46050.0              42280.0   0.00

[52584 rows x 3 columns]

In [200]:
init_data.loc[init_data.isna().any(axis=1)]

                     Load forecast  Generation forecast  Price
Date
2019-02-17 23:00:00        59200.0                  NaN  39.41
2019-02-18 00:00:00        57100.0                  NaN  38.78
2019-02-18 01:00:00        57200.0                  NaN  38.78
2019-02-18 02:00:00        54500.0                  NaN  38.20
2019-02-18 03:00:00        53700.0                  NaN  38.80
...                            ...                  ...    ...
2021-05-28 17:00:00        46800.0                  NaN  83.67
2021-05-28 18:00:00        45150.0                  NaN  82.90
2021-05-28 19:00:00        43950.0                  NaN  80.10
2021-05-28 20:00:00        44850.0                  NaN  80.03
2021-05-28 21:00:00        47600.0                  NaN  75.59

[192 rows x 3 columns]

In [195]:
init_data.index = pd.to_datetime(init_data.index)

In [224]:
all_data = init_data.join(df_renew)

# Pour les valeurs manquantes (Generation), on assigne la valeur Load
all_data['Generation forecast'].loc[all_data.isna().any(axis=1)==True] =all_data['Load forecast'].loc[all_data.isna().any(axis=1)==True]

In [226]:
all_data.to_csv('../../../examples/datasets/EPEX_FR_NEW_UTC_W_RENEW.csv')