In [24]:
import pandas as pd

In [32]:
df = pd.read_csv('test_Xtrain.csv')
df = df.drop('Unnamed: 0', axis=1)

In [13]:
pd.DataFrame(df.iloc[:,247:382].isna().any(axis=0))

         0
247  False
248  False
249  False
250  False
251  False
..     ...
377  False
378   True
379   True
380  False
381  False

[135 rows x 1 columns]

In [30]:


df.loc[:,~df.isna().any(axis=0)]

,0,1,2,3,4,5,6,7,8,9,...,377,380,381,384,385,386,387,388,389,390
0,0.576153,0.884289,0.947257,1.080484,0.699199,0.959982,1.023713,1.162065,0.605648,0.900546,...,-0.408812,1.027863,-0.364948,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.610497,0.576153,0.884289,1.300264,0.756610,0.699199,0.959982,1.352152,0.669936,0.605648,...,-0.575245,0.972206,0.417179,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.887863,0.610497,0.576153,1.274250,1.001756,0.756610,0.699199,1.323353,0.971085,0.669936,...,-0.366173,0.805712,-0.201080,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.855368,0.887863,0.610497,1.110981,0.972976,1.001756,0.756610,1.173156,0.922092,0.971085,...,0.423994,0.900761,0.137550,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.788115,0.855368,0.887863,0.947257,0.899917,0.972976,1.001756,1.023713,0.874982,0.922092,...,-0.200541,0.862549,-0.336745,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1444,0.833289,0.623214,0.648381,1.328221,0.956713,0.782705,0.779004,1.407658,0.953790,0.760019,...,0.684104,0.340224,0.169847,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1445,0.648381,0.833289,0.623214,1.258359,0.804723,0.956713,0.782705,1.347402,0.795446,0.953790,...,-1.009698,0.514074,0.906457,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1446,0.648381,0.648381,0.833289,1.234113,0.808361,0.804723,0.956713,1.325780,0.799332,0.795446,...,0.174390,0.297789,0.835339,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1447,0.737615,0.648381,0.648381,1.030105,0.899917,0.808361,0.804723,1.128174,0.889647,0.799332,...,0.916165,0.577174,0.674760,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1448,0.909118,0.737615,0.648381,0.648381,0.995415,0.899917,0.808361,0.779004,0.967644,0.889647,...,0.844756,0.309905,0.732485,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [21]:
df.isna().any(axis=0)

0      False
1      False
2      False
3      False
4      False
       ...
386    False
387    False
388    False
389    False
390    False
Length: 391, dtype: bool

In [ ]:
df[df.columns[df.notna().all()]]

In [34]:
df.dropna(axis=1).values

array([[0.57615303, 0.88428923, 0.94725713, ..., 0.        , 0.        ,
        0.        ],
       [0.61049723, 0.57615303, 0.88428923, ..., 0.        , 0.        ,
        0.        ],
       [0.88786329, 0.61049723, 0.57615303, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.64838095, 0.64838095, 0.83328935, ..., 1.        , 0.        ,
        0.        ],
       [0.73761512, 0.64838095, 0.64838095, ..., 0.        , 1.        ,
        0.        ],
       [0.90911841, 0.73761512, 0.64838095, ..., 0.        , 0.        ,
        1.        ]])