In [1]:
import requests
import pandas 
import time 
import datetime as dt
import pandas as pd

token = 'NDcxNTY0ZmEtOGNjZC00ZDY1LTg4ZjUtNDgwNGMyMDk1M2ZjOjNlNDcyZmQ0LWI2NDAtNDE1ZC05YjhmLWQ4ZjI2N2YyNDMzYw=='

#
url = 'https://digital.iservices.rte-france.com/token/oauth/'

data = {
    'Authorization' : 'Basic NDcxNTY0ZmEtOGNjZC00ZDY1LTg4ZjUtNDgwNGMyMDk1M2ZjOjNlNDcyZmQ0LWI2NDAtNDE1ZC05YjhmLWQ4ZjI2N2YyNDMzYw==',
    'Content-Type' : 'application/x-www-form-urlencoded'
}
response = requests.post(url, headers=data)
status_code = response.status_code
if status_code == 200:
    infos_rte_token = response.json()
    token = infos_rte_token['access_token']
    print(f'token = {token}')
else:
    print(f"API request failed with status_code: {status_code}")

/Users/dorianfitton/opt/anaconda3/envs/bgd/lib/python3.10/site-packages/requests/__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.11) or chardet (5.0.0)/charset_normalizer (2.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

token = OxohCTyQ7By75TZACBqzTPzQA1lhZbfQmZ12XqtF9LwwQF22JL5maJ

In [2]:

end_date = str(dt.datetime.today())
start_date = str(dt.datetime.today() - dt.timedelta(days=365*4))
print(start_date, end_date)


endpoint_gen = f'https://digital.iservices.rte-france.com/open_api/generation_forecast/v2/forecasts?\
    production_type=<valeur(s)>&\
    type=<valeur(s)>&\
    start_date=<{start_date}>&\
    end_date=<{end_date}>'

data = {
    'Authorization' : 'Bearer ' + token ,
    'Content-Type' : 'application/soap+xml',
    'charset' : 'UTF-8'
}

response = requests.get(endpoint_gen, headers=data)
status_code = response.status_code
print(status_code)
infos_rte_data_gen_json = response.json()

2019-06-16 12:57:50.569429 2023-06-15 12:57:50.569365
200

In [52]:

end_date = str(dt.datetime.today())
start_date = str(dt.datetime.today() - dt.timedelta(days=365*4))

endpoint_load = f'https://digital.iservices.rte-france.com/open_api/consumption/v1/short_term?\
    type=<valeur(s)>&\
    start_date=<{start_date}>&\
    end_date=<{end_date}>'

data = {
    'Authorization' : 'Bearer ' + token ,
    'Content-Type' : 'application/soap+xml',
    'charset' : 'UTF-8'
}

response = requests.get(endpoint_load, headers=data)
status_code = response.status_code
print(status_code)
infos_rte_data_load_json = response.json()

200

In [63]:

end_date = str(dt.datetime.today())
start_date = str(dt.datetime.today() - dt.timedelta(days=365*4))

endpoint_price = f'https://digital.iservices.rte-france.com/open_api/wholesale_market/v2/france_power_exchanges'

data = {
    'Authorization' : 'Bearer ' + token ,
    'Content-Type' : 'application/soap+xml',
    'charset' : 'UTF-8'
}

response = requests.get(endpoint_price, headers=data)
status_code = response.status_code
print(status_code)
infos_rte_data_price_json = response.json()

200

In [62]:

data = infos_rte_data_gen_json['forecasts']
df_forecasts = pd.DataFrame(data=data)

In [113]:
wind_d1 = pd.DataFrame(data=df_forecasts['values'].loc[(df_forecasts.production_type=='WIND') & (df_forecasts.type == 'D-1')].values[0])
wind_d1 = wind_d1.loc[:, ['start_date', 'value']].rename(columns={'start_date':'Date', 'value':'Prévisions J-1 Eolien'})

wind_d1.iloc[:,0] = pd.to_datetime(wind_d1.iloc[:,0])
wind_d1 = wind_d1.set_index('Date', drop=True)
wind_d1.head()

                           Prévisions J-1 Eolien
Date
2023-06-15 00:00:00+02:00                3522.80
2023-06-15 01:00:00+02:00                3369.86
2023-06-15 02:00:00+02:00                3213.24
2023-06-15 03:00:00+02:00                3078.21
2023-06-15 04:00:00+02:00                2941.95

In [115]:
solar_d1 = pd.DataFrame(data=df_forecasts['values'].loc[(df_forecasts.production_type=='SOLAR') & (df_forecasts.type == 'D-1')].values[0])
solar_d1 = solar_d1.loc[:, ['start_date', 'value']].rename(columns={'start_date':'Date', 'value':'Prévisions J-1 Solaire'})

solar_d1.iloc[:,0] = pd.to_datetime(solar_d1.iloc[:,0])
solar_d1 = solar_d1.set_index('Date', drop=True)
solar_d1.head()

                           Prévisions J-1 Solaire
Date
2023-06-15 00:00:00+02:00                     0.0
2023-06-15 01:00:00+02:00                     0.0
2023-06-15 02:00:00+02:00                     0.0
2023-06-15 03:00:00+02:00                     0.0
2023-06-15 04:00:00+02:00                     0.0

In [109]:
total_gen_d1 = pd.DataFrame(data=df_forecasts['values'].loc[(df_forecasts.production_type=='AGGREGATED_PROGRAMMABLE_FRANCE') & (df_forecasts.type == 'D-1')].values[0])
for i in range(0, 2):
    total_gen_d1.iloc[:,i] = pd.to_datetime(total_gen_d1.iloc[:,i])

#print(total_gen_d1.loc[0:,'start_date'].dt.hour)

total_gen_h = pd.DataFrame(data=total_gen_d1.groupby(total_gen_d1.loc[0:,'start_date'].dt.hour).sum().values, 
                           index=total_gen_d1.iloc[::2, 0].rename("Date"),
                           columns=['Generation forecast'],
                           
                           )
total_gen_h.head()

                           Generation forecast
Date
2023-06-15 00:00:00+02:00                73411
2023-06-15 01:00:00+02:00                71275
2023-06-15 02:00:00+02:00                70647
2023-06-15 03:00:00+02:00                68820
2023-06-15 04:00:00+02:00                68672

In [60]:

data_load = infos_rte_data_load_json['short_term']
df_forecasts_load = pd.DataFrame(data=data_load)


df_load_d1 = pd.DataFrame(data=df_forecasts_load.loc[df_forecasts_load['type']=='D-1', 'values'].values[0])

In [71]:
data_price = infos_rte_data_price_json['france_power_exchanges']
df_p = pd.DataFrame(data_price)
df_price = pd.DataFrame(df_p.loc[:,'values'].values[0])

                   start_date                   end_date    value   price
0   2023-06-16T00:00:00+02:00  2023-06-16T01:00:00+02:00   8849.6  126.16
1   2023-06-16T01:00:00+02:00  2023-06-16T02:00:00+02:00   9896.1  121.57
2   2023-06-16T02:00:00+02:00  2023-06-16T03:00:00+02:00  11394.1  115.56
3   2023-06-16T03:00:00+02:00  2023-06-16T04:00:00+02:00  12618.7  112.66
4   2023-06-16T04:00:00+02:00  2023-06-16T05:00:00+02:00  12878.8  113.05
5   2023-06-16T05:00:00+02:00  2023-06-16T06:00:00+02:00  11666.3  117.72
6   2023-06-16T06:00:00+02:00  2023-06-16T07:00:00+02:00  12095.4  132.00
7   2023-06-16T07:00:00+02:00  2023-06-16T08:00:00+02:00   8646.8  149.83
8   2023-06-16T08:00:00+02:00  2023-06-16T09:00:00+02:00   9125.1  145.59
9   2023-06-16T09:00:00+02:00  2023-06-16T10:00:00+02:00  10311.6  124.16
10  2023-06-16T10:00:00+02:00  2023-06-16T11:00:00+02:00  12977.8  112.20
11  2023-06-16T11:00:00+02:00  2023-06-16T12:00:00+02:00  14386.4  108.99
12  2023-06-16T12:00:00+02:00  2023-06-16T13:00:00+02:00  15050.5  107.35
13  2023-06-16T13:00:00+02:00  2023-06-16T14:00:00+02:00  14736.7  106.76
14  2023-06-16T14:00:00+02:00  2023-06-16T15:00:00+02:00  14675.4  103.31
15  2023-06-16T15:00:00+02:00  2023-06-16T16:00:00+02:00  13101.5  101.65
16  2023-06-16T16:00:00+02:00  2023-06-16T17:00:00+02:00  11422.6  108.46
17  2023-06-16T17:00:00+02:00  2023-06-16T18:00:00+02:00  10111.4  114.99
18  2023-06-16T18:00:00+02:00  2023-06-16T19:00:00+02:00   9669.3  135.35
19  2023-06-16T19:00:00+02:00  2023-06-16T20:00:00+02:00   7951.1  161.10
20  2023-06-16T20:00:00+02:00  2023-06-16T21:00:00+02:00   8624.9  175.07
21  2023-06-16T21:00:00+02:00  2023-06-16T22:00:00+02:00   8950.6  165.52
22  2023-06-16T22:00:00+02:00  2023-06-16T23:00:00+02:00   8133.7  151.85
23  2023-06-16T23:00:00+02:00  2023-06-17T00:00:00+02:00   8203.5  138.18